<!DOCTYPE html>
<html lang="en-us" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Simple shop by Jacktator</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="stylesheets/normalize.css" media="screen">
    <link href="lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-custom.css" rel="stylesheet">
    <link href="css/shop-homepage.css" rel="stylesheet">
    <link rel="stylesheet" href="lib/angular-ui-tree/dist/angular-ui-tree.min.css">
</head>
<body ng-controller="AppCtrl">

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Jacktator's Shop</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="https://au.linkedin.com/in/xujiesong">About</a>
                    </li>
                    <li>
                        <a href="http://sk8techs.com">Services</a>
                    </li>
                    <li>
                        <a href="http://jacktator.com">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-md-3" ng-controller="CategoryCtrl">
                <p class="lead">Selected Category: <br><strong>{{ selectedCategory.CategoryName != undefined ? selectedCategory.CategoryName : "All Categories" }}</strong></p>
                <div class="list-group">
                    <a class="list-group-item" ng-click="unselectCategory()">All</a>
                    <a class="list-group-item" ng-repeat="category in categoryArray track by category.CategoryID" ng-click="selectCategory(category)"><span ng-bind="category.CategoryName"></span></a>
                </div>
                <p class="lead">Data Tree:</p>
                <!-- Nested node template -->
                <div ui-tree
                     data-drag-enabled="false">
                    <ol ui-tree-nodes="" ng-model="categoryArray">
                        <li ui-tree-node>
                                <a class="btn btn-success btn-xs"
                                   ng-if="categoryArray && categoryArray.length > 0"
                                   data-nodrag=""
                                   ng-click="toggle(this)">
                                    <span class="glyphicon glyphicon-chevron-down"
                                          ng-class="{'glyphicon-chevron-right': collapsed, 'glyphicon-chevron-down': !collapsed}">
                                    </span>
                                </a>
                                Product List:
                            <ol ui-tree-nodes="" ng-model="categoryArray">
                                <li ng-repeat="category in categoryArray track by category.CategoryID"
                                    ng-if="collapsed == false"
                                    ui-tree-node>
                                        <a class="btn btn-success btn-xs"
                                           ng-if="productArray && productArray.length > 0"
                                           data-nodrag=""
                                           ng-click="toggle(this)">
                                            <span class="glyphicon glyphicon-chevron-down"
                                                  ng-class="{'glyphicon-chevron-right': collapsed, 'glyphicon-chevron-down': !collapsed}">
                                            </span>
                                        </a>
                                    <span ng-click="popupCategory(category)">{{category.CategoryName}}</span>
                                    <ol ui-tree-nodes="" ng-model="category">
                                        <li ng-repeat="product in productArray track by product.ProductID"
                                            ng-if="product.CategoryID == category.CategoryID && collapsed == false"
                                            ng-click="popupProduct(product)"
                                            ui-tree-node>
                                            <span ng-click="popupProduct(product)">{{product.ProductName}}</span>
                                        </li>
                                    </ol>
                                </li>
                            </ol>
                        </li>
                    </ol>
                </div>
            </div>

            <div class="col-md-9" ng-controller="ProductCtrl">

                <div class="row">
                    <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)" dismiss-on-timeout="2000">{{alert.msg}}</uib-alert>
                </div>

                <div class="row">
                    <div class="col-sm-6 col-lg-6 col-md-6" ng-repeat="product in productArray track by product.ProductID" ng-if="selectedCategory.CategoryID == undefined || selectedCategory.CategoryID == product.CategoryID">
                        <div class="thumbnail"
                             ng-click="displayProductDetail(product)">
                            <img ng-src="http://placehold.it/240x120?text={{product.ProductName}}" alt="">
                            <div class="caption">
                                <h4 class="pull-right" ng-bind="'$'+product.UnitPrice"></h4>
                                <h4><a ng-bind="product.ProductName"></a>
                                </h4>
                                <p ng-bind="product.QuantityPerUnit"></p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-6 col-md-6" ng-if="selectedCategory.CategoryID != undefined && selectedCategory.CategoryID != product.CategoryID">
                        <h4>This is the end</h4>
                    </div>

                </div>

            </div>

        </div>

    </div>
    <!-- /.container -->

    <div class="container">

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->
    <script src="lib/x2js-master/xml2json.min.js"></script>
    <script src="lib/angular/angular.min.js"></script>
    <script src="lib/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script type="text/javascript" src="lib/angular-ui-tree/dist/angular-ui-tree.js"></script>
    <script src="js/app.js"></script>
</body>
</html>
